<div class="projects" ngClass.lt-sm="u-padding-12" ngClass.gt-sm="u-padding-32" fxLayout="column" fxFlexFill
  fxLayoutGap="2rem">
  <div class="projects__header">Projects Overview:</div>
  <div fxLayout="column" fxLayoutGap="10px" ngClass.gt-sm="projects__container">
    <ol>
      <li>
        <div>
          <div><span style="text-decoration: underline;">MVP Incentive System:</span> (Fiat Chrysler Automobiles(FCA))
          </div>
          <div fxLayout="row wrap" class="u-margin-top-8">
            MVP Incentive System helps in dealers to maintain their sales and track their
            incentives based on the sales. It also tracks their personal loan details
            and show them up top 10 and bottom 10 performances of dealers for that quarter on their dashboard.
            Also built admin system to set up configurations on incentives percentages and criterias
            for dealers to meet in order to avail incentives for their sales. System also helps to download reports
            for various aspects in order to see their performances. <br><br>
            We have migrated MVP Incentive System which was running on legacy platform
            with mainframes technology to Angular framework version 9 with Java as back end
            technology.
          </div>
        </div>
      </li>
      <li>
        <div>
          <div><span style="text-decoration: underline;">IBG I.Serve:</span> (The Development Bank of Singapore
            Limited(DBS))
          </div>
          <div fxLayout="row wrap" class="u-margin-top-8">
            IBG(Institutional Banking Group) I.Serve is the application which works for corporate banking.
            This application used by customer service operations team who directly be in contact with corporate
            customers
            for their queries resolving. <br><br>
            I.Serve is a one-stop sollution to have enhanced SR Dashboard and search functions, and to have customer
            profile
            in a single screen, and to have manual authentication with smart answers and easy navigation to products and
            transaction details. It
            helps CSO team to answer customer's queries very fast. It saves alot of time by not toggling of many systems
            to
            gather customer information.<br><br>
            This application is for Service Requests Management.
          </div>
          <div class="u-margin-top-8 u-margin-bottom-8">Features of the application:</div>
          <div>
            <ul>
              <li>
                CSO team can create new SR as draft with user query and assign the SR to themself or their colleagues.
              </li>
              <li>
                This application helps CSO team to collect customer informaton at one place in order to raise SR easily.
              </li>
              <li>
                It has enhanced SR Dashboard and Search function which helps CSO team to see an overview of individual
                and
                team SR Dashboard. It also helps to search customer information by their account number which provides
                customer profile in single screen.
              </li>
              <li>
                Easy access to SR Inbox for SR with Open or Draft Status. And detailed view of Open and Draft SR upon
                click
                of SR.
              </li>
              <li>
                It allows to create SR, Modify SR, Update SR, and Clone SR.
              </li>
              <li>
                It allows to send SMS and search about SR and error payments.
              </li>
              <li>
                Provides and overview of transaction details at any point of time and Fixed Deposit, Loans Details,
                Debit and Credit cards Informations, and key customer contacts detail.
              </li>
              <li>
                It allows managers to download reports of SR List and various other reports.
              </li>
            </ul>
          </div>
          <div>
            Technologies used: HTML, SCSS, Javascript, Angular-8, Java as back end.
          </div>
        </div>
      </li>
      <li>
        <div>
          <div><span style="text-decoration: underline;">Piquant Restro:</span> (Personal Project)</div>
          <div fxLayout="row wrap" class="u-margin-top-8">
            Piquant Restro is a website collecting restaurants from different places and provide customers to view them
            all
            and
            place their favourite food items with dummay stripe payment option. They can also view their placed orders
            and
            download an invoice of them.
          </div>
          <div class="u-margin-top-8 u-margin-bottom-8">Features of website:</div>
          <div>
            <ul>
              <li>User/Admin can signup, and login with credentials.</li>
              <li>User/Admin can reset their password with OTP receiving on their registered mobile number.</li>
              <li>User/Admin can update their profile information.</li>
              <li>Admin can only add/edit/delete restaurant and food items accordingly.</li>
              <li>User can view all available restaurants and place an order with dummy stripe payment gateway.</li>
              <li>Admin can view only restaurants added by them and place an order with dummy stripe payment gateway.
              </li>
              <li>User/Admin can download the invoice in pdf format for their placed orders.</li>
              <li>User will be provided an alert if page has been idle for 10 minutes, If user does not click on
                'Continue'
                with in 5 minutes of time then
                user will be auto logged out from the application.</li>
            </ul>
          </div>
          <div>
            Technologies used- HTML, SCSS, JAVASCRIPT, ANGULAR-8, NODE JS, EXPRESS JS, MONGODB
            ATLAS.
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
