<div class="forgot-password page-container u-bg-white" fxLayout="column" style="padding: 0px;">
  <!-- page title  -->
  <div class="page-title-widget u-margin-bottom-24">
    <div class="page-title page-title-align">
      Reset Password
    </div>
  </div>
  <!-- Info screen to show success/error/warning/information messages-->
  <div *ngIf="showScreen">
    <app-info [message]="message" [showScreen]="showScreen" [status]="status"></app-info>
  </div>
  <!-- page content  -->
  <div class="u-width-100" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="450px" fxFlex.lt-sm="100%" fxLayout="row" fxLayoutAlign="center center">
      <form [formGroup]="forgotPasswordForm" class="u-width-100">
        <mat-card class="mat-elevation-z8">
          <mat-card-content class="u-width-100">
            <div>
              <mat-form-field class="u-width-100">
                <mat-label>Registered Email</mat-label>
                <input matInput required formControlName="email" type="text">
                <mat-error *ngIf="forgotPasswordForm.controls['email'].errors?.required">
                  Mandatory feild: Email.
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls['email'].errors?.email">
                  Invalid email Id, Please enter valid email Id.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="55">
                <mat-form-field class="u-width-100">
                  <mat-label>Registered Mobile Number</mat-label>
                  <span matPrefix>+91&nbsp;</span>
                  <input matInput required formControlName="contactNumber" type="text">
                  <mat-error *ngIf="forgotPasswordForm.controls['contactNumber'].errors?.required">
                    Mandatory feild: Mobile number.
                  </mat-error>
                  <mat-error *ngIf="forgotPasswordForm.controls['contactNumber'].errors?.pattern">
                    Invalid mobile number, Only numeric data is allowed.
                  </mat-error>
                  <mat-error
                    *ngIf="forgotPasswordForm.controls['contactNumber'].errors?.maxlength || forgotPasswordForm.controls['contactNumber'].errors?.minlength">
                    Invalid mobile number, Min and Max 10 digits can be acceptable.
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="!sendCode" fxFlex="45" class="u-align-right">
                <button
                  [disabled]="this.forgotPasswordForm.get('contactNumber').invalid || this.forgotPasswordForm.get('email').invalid"
                  type="button" (click)="onClickSendCode()" mat-stroked-button [matTooltip]="'Generate code'">
                  {{resendCode ? 'Resend Code' : 'Send Code'}}</button>
              </div>
              <div *ngIf="sendCode" class="u-align-right forgot-password__circle">
                <span>{{display}}</span>
              </div>
            </div>
            <div *ngIf="sendCode" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="55">
                <mat-form-field class="u-width-100">
                  <mat-label>Enter code received</mat-label>
                  <span *ngIf="verifiedCode" matSuffix class="forgot-password__verified-icon">
                    <mat-icon>check</mat-icon>
                  </span>
                  <input matInput required formControlName="mobileCode" type="text">
                  <mat-error *ngIf="forgotPasswordForm.controls['mobileCode'].errors?.doesNotMatch">
                    Code is invalid. Please check it out.
                  </mat-error>
                  <mat-error *ngIf="forgotPasswordForm.controls['mobileCode'].errors?.required">
                    Mandatory feild: Please enter 6 digits code received on your mobile.
                  </mat-error>
                  <mat-error *ngIf="forgotPasswordForm.controls['mobileCode'].errors?.pattern">
                    Invalid code, Only numeric data is allowed.
                  </mat-error>
                  <mat-error
                    *ngIf="forgotPasswordForm.controls['mobileCode'].errors?.maxlength || forgotPasswordForm.controls['mobileCode'].errors?.minlength">
                    Invalid code, Min and Max 6 digits can be acceptable.
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="45" class="u-align-right">
                <button [disabled]="this.forgotPasswordForm.get('mobileCode').invalid || verifiedCode" type="button"
                  (click)="onClickVerifyCode()" mat-stroked-button [matTooltip]="'Verify code'">
                  Verify Code</button>
              </div>
            </div>
            <div *ngIf="verifiedCode">
              <mat-form-field class="u-width-100">
                <mat-label>New Password</mat-label>
                <input matInput name="password" required formControlName="password"
                  [type]="toggleEye ? 'text' : 'password'">
                <mat-icon style="cursor: pointer;" matSuffix (click)="toggleEye = !toggleEye">
                  {{toggleEye ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="forgotPasswordForm.controls['password'].errors?.required">
                  Mandatory feild: New password.
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls['password'].errors?.pattern">
                  Invalid password. Acceptable pattern is - Min 8 characters, At least one upper case, lower case,
                  digit
                  and special character.
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="verifiedCode">
              <mat-form-field class="u-width-100">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" required appConfirmPasswordValidator="password"
                  type="password">
                <mat-error
                  *ngIf="forgotPasswordForm.controls['confirmPassword'].errors?.required && (forgotPasswordForm.controls['confirmPassword']?.touched)">
                  Mandatory feild: Confirm password.
                </mat-error>
                <mat-error
                  *ngIf="forgotPasswordForm.controls['confirmPassword'].errors?.notEqual && (forgotPasswordForm.controls['confirmPassword']?.touched)">
                  New password and confirm password does not match.
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <!-- card action buttons starts  -->
          <mat-card-actions class="u-width-100" fxLayoutAlign="space-between center">
            <div>
              <button type="button" (click)="onClear()" color="accent" mat-button matTooltip="Clear">Clear</button>
            </div>
            <div fxLayoutAlign="end center">
              <button type="button" (click)="onCancel()" color="primary" mat-stroked-button>Cancel</button>
              <button type="submit" *ngIf="verifiedCode" (click)="onUpdate()" color="accent" mat-raised-button
                matTooltip="Login">Update</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
