@import "../../../../assets/styles/abstracts/functions.scss";
@import "../../../../assets/styles/abstracts/variables.scss";

.forgot-password {
  width: 100%;
  position: relative;
  &__verified-icon {
    font-size: 1.5rem;
    color: map-get($slate, 18);
  }
  &__div-center-align {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  &__circle {
    background: map-get($slate, 13);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: $white;
    display: inline-block;
    font-weight: $bold;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    width: 45px;
  }
}
// host helps to activate modified css only for this component.
:host {
  ::ng-deep {
    .mat-stroked-button {
      padding: 0 8px !important;
    }
  }
}
