<div class="page-container desserts">
  <!-- Info screen to show success/error/warning/information messages-->
  <div *ngIf="showScreen && !activeFullLoader">
    <app-info [message]="message" [showScreen]="showScreen" [status]="status"></app-info>
  </div>
  <div *ngIf="desserts?.length > 0" class="desserts__items">
    <div *ngFor="let dessert of desserts">
      <app-item [item]="dessert" (onDeletedItem)="onDeleteItem($event)"
        (onChangedItemCategory)="onChangedItemCategory($event)"></app-item>
    </div>
  </div>
  <div *ngIf="desserts?.length === 0 && !activeFullLoader" fxLayout="row" fxLayoutAlign="center center">
    No {{ITEM_CATEGORY.DESSERTS}} are available.
  </div>
  <!-- full loader  -->
  <div *ngIf="activeFullLoader" class="u-width-100">
    <app-full-loader [loading]="activeFullLoader"></app-full-loader>
  </div>
</div>
