@import "../../../../assets/styles/abstracts/variables.scss";
@import "../../../../assets/styles/abstracts/functions.scss";

.user-profile {
  height: 100%;
  overflow-y: auto;
  &__div-width {
    width: 350px;
  }
  &__user-type {
    background-color: $success;
    color: $white;
    padding: 2px 8px;
    letter-spacing: 1px;
    font-size: 11px;
    margin-left: 8px;
    border-radius: 4px;
  }
}
