<div class="password-management page-container u-bg-white" fxLayout="column" fxLayoutGap="1rem">
  <!-- page title starts  -->
  <div class="page-title-widget">
    <div class="page-title page-title-align u-width-100"><span>Password Management</span></div>
  </div>
  <!-- Info screen to show success/error/warning/information messages-->
  <div *ngIf="showScreen">
    <app-info [message]="message" [showScreen]="showScreen" [status]="status"></app-info>
  </div>
  <!-- page content starts  -->
  <div class="u-margin-top-16">
    <form [formGroup]="passwordManagementForm">
      <div fxLayout="column" fxLayoutGap="1rem">
        <div ngClass.gt-sm="password-management__div-width" ngClass.lt-sm="u-width-100">
          <mat-form-field class="u-width-100">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" type="text">
            <mat-error *ngIf="passwordManagementForm.controls['firstName'].errors?.required">
              Mandatory feild: First name.
            </mat-error>
            <mat-error *ngIf="passwordManagementForm.controls['firstName'].errors?.pattern">
              Invalid first name, Only alphanumeric data is allowed.
            </mat-error>
          </mat-form-field>
        </div>
        <div ngClass.gt-sm="password-management__div-width" ngClass.lt-sm="u-width-100">
          <mat-form-field class="u-width-100">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="text">
            <mat-error *ngIf="passwordManagementForm.controls['lastName'].errors?.required">
              Mandatory feild: Last name.
            </mat-error>
            <mat-error *ngIf="passwordManagementForm.controls['lastName'].errors?.pattern">
              Invalid first name, Only alphanumeric data is allowed.
            </mat-error>
          </mat-form-field>
        </div>
        <div ngClass.gt-sm="password-management__div-width" ngClass.lt-sm="u-width-100">
          <mat-form-field class="u-width-100">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" type="text">
            <mat-error *ngIf="passwordManagementForm.controls['email'].errors?.required">
              Mandatory feild: Email.
            </mat-error>
            <mat-error *ngIf="passwordManagementForm.controls['email'].errors?.email">
              Invalid email Id, Please enter valid email Id.
            </mat-error>
          </mat-form-field>
        </div>
        <div ngClass.gt-sm="password-management__div-width" ngClass.lt-sm="u-width-100">
          <mat-form-field class="u-width-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="passwordManagementForm.controls['password'].errors?.required">
              Mandatory feild: Password.
            </mat-error>
            <mat-error *ngIf="passwordManagementForm.controls['password'].errors?.pattern">
              Invalid password. Acceptable pattern is - Min 8 characters, At least one upper case, lower case,
              digit
              and special character.
            </mat-error>
          </mat-form-field>
        </div>
        <div ngClass.gt-sm="password-management__div-width" ngClass.lt-sm="u-width-100">
          <mat-form-field class="u-width-100">
            <mat-label>New Password</mat-label>
            <input matInput name="password" formControlName="newPassword" type="password"
              [type]="toggleEye ? 'text' : 'password'">
            <mat-icon style="cursor: pointer;" matSuffix (click)="toggleEye = !toggleEye">
              {{toggleEye ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="passwordManagementForm.controls['newPassword'].errors?.required">
              Mandatory feild: New password.
            </mat-error>
            <mat-error *ngIf="passwordManagementForm.controls['newPassword'].errors?.pattern">
              Invalid password. Acceptable pattern is - Min 8 characters, At least one upper case, lower case,
              digit
              and special character.
            </mat-error>
          </mat-form-field>
        </div>
        <div ngClass.gt-sm="password-management__div-width" ngClass.lt-sm="u-width-100">
          <mat-form-field class="u-width-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" appConfirmPasswordValidator="newPassword" type="password">
            <mat-error
              *ngIf="passwordManagementForm.controls['confirmPassword'].errors?.required && (passwordManagementForm.controls['confirmPassword']?.touched)">
              Mandatory feild: Confirm password.
            </mat-error>
            <mat-error
              *ngIf="passwordManagementForm.controls['confirmPassword'].errors?.notEqual && (passwordManagementForm.controls['confirmPassword']?.touched)">
              Password and confirm password does not match.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- action button  -->
      <div fxLayout="row" fxLayoutAlign="center center">
        <button type="submit" color="accent" (click)="onSave()" [disabled]="passwordManagementForm.invalid"
          mat-raised-button>
          <mat-icon>save</mat-icon>Save
        </button>
      </div>
    </form>
  </div>
</div>
