<div class="tech-skills" ngClass.lt-sm="u-padding-12" ngClass.gt-sm="u-padding-32" fxLayout="column" fxFlexFill
  fxLayoutGap="2rem">
  <div class="tech-skills__header">Technical Skills:</div>
  <div fxLayout="column">
    <div fxLayout="row wrap">
      <span class="tech-skills__text">Front end</span>
      <span class="u-padding-left-8 u-padding-right-8">:</span>
      <span>HTML, CSS, Javascript, Angular(5-10), Angular Material, Flexbox, SCSS.</span>
    </div>
    <div fxLayout="row wrap" class="u-margin-top-8">
      <span class="tech-skills__text">Back end</span>
      <span class="u-padding-left-8 u-padding-right-8">:</span>
      <span>Node Js, Express Js, MongoDB.</span>
    </div>
  </div>
</div>
