<div class="login  u-bg-white page-container" [style.background-image]="'url(' + backgroundImage.url + ')'">
  <!-- login form starts from here  -->
  <div ngClass.gt-sm="login__form" class="u-width-100 u-padding-16" fxFlex="450px" fxFlex.lt-sm="100%"
    ngClass.lt-sm="login__form-sm">
    <form [formGroup]="loginForm">
      <div>
        <mat-card class="mat-elevation-z8 login__transparentize">
          <!-- card header starts -->
          <mat-card-header class="login__form-header u-align-center">
            <mat-card-title>
              <div>Login</div>
            </mat-card-title>
          </mat-card-header>
          <!-- Info screen to show success/error/warning/information messages-->
          <div *ngIf="showScreen">
            <app-info [message]="message" [showScreen]="showScreen" [status]="status"></app-info>
          </div>
          <!-- card content starts  -->
          <mat-card-content fxLayout="column" fxLayoutGap="1rem">
            <div>
              <mat-form-field class="u-width-100">
                <mat-label>Email Address</mat-label>
                <input matInput required formControlName="email" type="text">
                <mat-hint>Enter registered email address</mat-hint>
                <mat-error *ngIf="loginForm.controls['email'].errors?.required">
                  Mandatory feild: Email.
                </mat-error>
                <mat-error *ngIf="loginForm.controls['email'].errors?.email">
                  Invalid email Id, Please enter valid email Id.
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="u-width-100">
                <mat-label>Password</mat-label>
                <input matInput required formControlName="password" [type]="toggleEye ? 'text' : 'password'">
                <mat-hint>Enter registered password</mat-hint>
                <mat-icon matTooltip="View Password" style="cursor: pointer;" matSuffix
                  (click)="toggleEye = !toggleEye">
                  {{toggleEye ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="loginForm.controls['password'].errors?.required">
                  Mandatory feild: Password.
                </mat-error>
                <mat-error *ngIf="loginForm.controls['password'].errors?.pattern">
                  Invalid password. Acceptable pattern is - Min 8 characters, At least one upper case, lower case, digit
                  and special character.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
              <div (click)="onClickForgotPassword()" class="login__forgot-password"
                matTooltip="Link to reset your password">
                Forgot Password?</div>
              <div class="login__signup" routerLink="/signup" fxLayoutAlign="start center"
                matTooltip="Register new account">
                Signup</div>
            </div>
          </mat-card-content>
          <!-- card action buttons starts  -->
          <mat-card-actions fxLayoutAlign="space-between center">
            <div>
              <button type="button" (click)="onClear()" color="accent" mat-button matTooltip="Clear">Clear</button>
            </div>
            <div fxLayoutAlign="end center">
              <button type="submit" (click)="onLogin()" color="accent" mat-raised-button
                matTooltip="Login">Login</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </form>
  </div>
</div>
