<div class="items">
  <div class="u-padding-24  items__item-border u-bg-white u-margin-bottom-8">
    <div fxLayout.lt-sm="column" fxLayoutGap.lt-sm="5px" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">
      <div fxLayout="column" fxLayoutGap="5px">
        <div class="items__item-name" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <div>
            <span class="items__dot-widget"></span>
          </div>
          <div>
            {{item?.itemName}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <div class="items__item-price">
            {{item?.itemPrice | currency: 'INR'}}
          </div>
          <div class="items__price-border"></div>
          <div class="items__offer-content" fxLayout="row" fxLayoutGap="4px">
            <span>{{item?.offerPercent}}% off</span>
            <span>|</span>
            <span>use {{item?.offerCode}} code</span>
          </div>
        </div>
      </div>
      <div class="u-align-center" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign.lt-sm="end center"
        fxLayoutAlign.gt-sm="center center">
        <div>
          <div *ngIf="item.itemQuantity === 0" (click)="onItemAdd(item)" matTooltip="Add item to cart">
            <button mat-raised-button>Add</button>
          </div>
          <div class="items__border items__item-add" fxLayout="row" fxLayoutAlign="space-around center"
            *ngIf="item.itemQuantity !== 0">
            <div>
              <button (click)="onDecreaseQty(item)" mat-icon-button color="warn" matTooltip="Reduce item quantity">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div class="items__quantity">{{item.itemQuantity}}</div>
            <div>
              <button (click)="onIncreaseQty(item)" mat-icon-button color="warn" matTooltip="Increase item quantity">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
          <div *ngIf="hasDeleteItemAccess">
            <button (click)="onDeleteItem(item.id)" mat-icon-button color="accent" matTooltip="Delete item">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="hasEditItemAccess">
            <button (click)="onEditItem(item)" mat-icon-button matTooltip="Edit item added" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
