<div class="qualification" ngClass.lt-sm="u-padding-12" ngClass.gt-sm="u-padding-32" fxLayout="column" fxFlexFill
  fxLayoutGap="2rem">
  <div class="qualification__header">Qualification:</div>
  <div fxLayout="column">
    <div>
      <ul>
        <li>
          Master of Computer Applications(MCA) from Sastra Deemed University(Pursuing 5th Semister).
        </li>
        <li>
          Bachelor of Computer Science(BSc) from Acharya Nagarjuna University with 75% of Marks, 2011.
        </li>
        <li>
          Intermediate(MEC) from Board of Intermediate Education, Andhra Pradesh with 67% of Marks, 2007.
        </li>
        <li>
          SSC from Board of Secondary Education, Andhra Pradesh with 66% of Marks, 2004.
        </li>
      </ul>
    </div>
  </div>
</div>
