<div class="biograpy" ngClass.lt-sm="u-padding-12" ngClass.gt-sm="u-padding-32" fxLayout="column" fxFlexFill
  fxLayoutGap="2rem">
  <div class="biograpy__header">About Me:</div>
  <div fxLayout="row wrap">
    Hello! My name is Kireeti Pala, i'm born and brought up in Vijayawada city, Andhra Pradesh, India. <br><br>
    I am a IT Analyst and working as MEAN stack web developer at Tata Consultancy Services. My total IT experience is -
    {{totalITExperience}} years and
    relevant experience as full MEAN stack web developer is - {{totalRelevantYears}} years. I have worked on both
    banking and
    manufacturing domain
    projects.
    Addition to, i have also developed my personal projects to improve my technical knowledge. <br><br>
    I would love to develop websites, Andriod and IOS mobile applications, hense i do not stop with one set of
    technology.
    So, my learning list also contains MERN stack and Fultter frameworks to reach my targets.
    I will be good enough to be working on these new technologies by end of 2021 year.<br><br>
    I believe in hard working which in turn changes to smart work..!
  </div>
  <div fxFlex fxLayoutAlign="end end">
    <span class="biograpy__font-italic">Kireeti Pala.</span>
  </div>
</div>
