@import "../../../../assets/styles/abstracts/variables.scss";
@import "../../../../assets/styles/abstracts/functions.scss";

.view-items {
  &__container {
    max-height: 400px;
    overflow: auto;
  }
  &__mobile-view {
    height: 335px;
    overflow: auto;
  }
  &__hide {
    display: none;
  }
  &__noData {
    height: 20vh;
  }
}

:host {
  ::ng-deep {
    table {
      width: 100%;
    }
    .mat-header-cell {
      font-size: 13px !important;
    }
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      padding: 6px !important;
    }
  }
}
