@import "../../../../../../assets/styles/abstracts/variables.scss";
@import "../../../../../../assets/styles/abstracts/functions.scss";

.cart-item {
  &__item-increase,
  &__item-decrease {
    font-weight: $normal;
    cursor: pointer;
  }
  &__item-add {
    min-width: 6rem;
    max-width: 6rem;
    border: 1px solid lightgray;
  }
  &__quantity {
    color: $black;
  }
  &__dot-widget {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #64a750;
    display: inline-block;
  }
  &__item-name {
    font-weight: $normal;
    font-size: 1rem;
  }
  &__item-price {
    min-width: 55px;
    text-align: right;
    max-width: 45px;
  }
}
